# Import DELHI's data from COVID 19 dataset both csv file and xls file and perform the operation of extraction.

# Import covid 19 dataset csv file

In [83]:
#loading dataset
import pandas as pd   
df=pd.read_csv('covid_19_india(statistics).csv')#Importing Data
data_delhi=df.loc[df['State/UnionTerritory'] == "Delhi"]  
data_delhi.head()   #Exporting Data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
34,35,2/3/2020,6:00 PM,Delhi,1,0,0,0,1
38,39,3/3/2020,6:00 PM,Delhi,1,0,0,0,1
42,43,4/3/2020,6:00 PM,Delhi,1,0,0,0,1
45,46,5/3/2020,6:00 PM,Delhi,2,0,0,0,2
51,52,6/3/2020,6:00 PM,Delhi,3,0,0,0,3

In [84]:
# Extracting all the columns using .keys() funtion
cols=data_delhi.keys()
print(cols)

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

# Import covid 19 dataset xls file

In [82]:
#loading dataset xlrd
! pip install xlrd
import xlrd

#Give the location of the file
wb=xlrd.open_workbook('covid_19_india(statistics).xlsx')
sheet=wb.sheet_by_index(0)
sheet.cell_value(0,0)
print(sheet.cell_value(452,3))

#Extracting number of rows
print(sheet.nrows)
print(sheet.ncols)

Requirement already satisfied: xlrd in c:\users\sony\anaconda3\lib\site-packages (1.2.0)
Delhi
3820
9

In [81]:
#loading dataset openpyxl
import openpyxl
wb_obj=openpyxl.load_workbook('covid_19_india(statistics).xlsx')
sheet_obj=wb_obj.active

#print the total number of rows and column
print("No of rows=",sheet_obj.max_row)
print("No of cols=",sheet_obj.max_column)
print(sheet_obj)

No of rows= 3820
No of cols= 9
<Worksheet "corona">