# <b><i>Its Confidence Building Session</i></b>

In [1]:
import pandas as pd

In [2]:
StateWiseCovid19=pd.read_csv("state_wise.csv")

In [4]:
StateWiseCovid19.head()

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,649586,394390,18677,236453,04/07/2020 11:37:25,66,TT,-303,71,8,NaN
1,Maharashtra,192990,104687,8376,79911,03/07/2020 22:43:26,16,MH,0,0,0,16 cases were marked as non-covid deaths in MH...
2,Tamil Nadu,102721,58378,1385,42958,03/07/2020 18:47:28,0,TN,0,0,0,2 deaths cross notified to other states from C...
3,Delhi,94695,65624,2923,26148,03/07/2020 21:49:28,0,DL,0,0,0,"Delhi bulletins in the morning, containing dat..."
4,Gujarat,34686,24941,1905,7840,03/07/2020 20:38:27,0,GJ,0,0,0,NaN

In [5]:
type(StateWiseCovid19)

pandas.core.frame.DataFrame

In [6]:
StateWiseCovid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 12 columns):
State                38 non-null object
Confirmed            38 non-null int64
Recovered            38 non-null int64
Deaths               38 non-null int64
Active               38 non-null int64
Last_Updated_Time    38 non-null object
Migrated_Other       38 non-null int64
State_code           38 non-null object
Delta_Confirmed      38 non-null int64
Delta_Recovered      38 non-null int64
Delta_Deaths         38 non-null int64
State_Notes          12 non-null object
dtypes: int64(8), object(4)
memory usage: 3.6+ KB

In [8]:
missing_data=StateWiseCovid19.isnull()

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

State
False    38
Name: State, dtype: int64

Confirmed
False    38
Name: Confirmed, dtype: int64

Recovered
False    38
Name: Recovered, dtype: int64

Deaths
False    38
Name: Deaths, dtype: int64

Active
False    38
Name: Active, dtype: int64

Last_Updated_Time
False    38
Name: Last_Updated_Time, dtype: int64

Migrated_Other
False    38
Name: Migrated_Other, dtype: int64

State_code
False    38
Name: State_code, dtype: int64

Delta_Confirmed
False    38
Name: Delta_Confirmed, dtype: int64

Delta_Recovered
False    38
Name: Delta_Recovered, dtype: int64

Delta_Deaths
False    38
Name: Delta_Deaths, dtype: int64

State_Notes
True     26
False    12
Name: State_Notes, dtype: int64

In [11]:
StateWiseCovid19['State_Notes']

0                                                   NaN
1     16 cases were marked as non-covid deaths in MH...
2     2 deaths cross notified to other states from C...
3     Delhi bulletins in the morning, containing dat...
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10    MoHFW website reports that these are the 'case...
11    4 cases are classified as non-covid related de...
12    Total includes patients from other states and ...
13                                                  NaN
14                                                  NaN
15                                                  NaN
16    Includes one case from Nagaland.\nTotal of 3 p...
17    Three non-covid deaths reported in state dashb...
18                                                  NaN
19    Mahe native who expired in Kannur included in ...
20          27 Migrated cases reduced from Active count
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26    HP has 14 Migrated cases which are reduced fro...
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
34                                                  NaN
35                                                  NaN
36    [June 17]:\nOne case was identified to be fals...
37                                                  NaN
Name: State_Notes, dtype: object